<p>
  <mat-toolbar>
    <span>ZfM Slider Creator</span>
  </mat-toolbar>
</p>
<mat-card>
  <app-slider-selector [slidersUpdater]="slidersUpdater">

  </app-slider-selector>
</mat-card>

<mat-card class="example-result-card">
  <mat-card-content>
    <div *ngFor="let slider of sliderConfigurations">
      <app-slider
        [invert]="slider.invert || false"
        [max]="slider.max || 100"
        [min]="slider.min || 0"
        [step]="slider.step || 1"
        [showTicks]="false"
        [value]="slider.value || 0"
        [colorMode]="slider.colorMode || 0"
        [thumbLabel]="slider.thumbLabel || false"
        [vertical]="slider.vertical || false"
        [left]="slider.left || ''"
        [right]="slider.right || ''">
    </app-slider>
    </div>
  </mat-card-content>
</mat-card>

<footer style="z-index: -99999; position: absolute; bottom: 0; width: 100%; text-align: center; background-color: black; color: white">
  <span>Zentrum für Medienbildung (c) Entwickelt von Jonathan Fritz.</span>
</footer>