<app-browser-banner></app-browser-banner>
<p>
  <mat-toolbar>
    <span>ZfM Slider Creator</span>
  </mat-toolbar>
</p>
<mat-card>
  <app-slider-selector [slidersUpdater]="slidersUpdater">

  </app-slider-selector>
  <div *ngIf="sliderConfigurations.length !== 0">
    <button mat-raised-button (click)="capturePNG()">PNG herunterladen (Transparent)</button>
    <button mat-raised-button (click)="captureSVG()">SVG herunterladen (transparent)</button>
  </div>
</mat-card>

<mat-card class="example-result-card">
  <mat-card-content #captureArea>
    <div *ngFor="let slider of sliderConfigurations">
      <app-slider
        [invert]="slider.invert || false"
        [max]="slider.max || 100"
        [min]="slider.min || 0"
        [step]="slider.step || 1"
        [showTicks]="false"
        [sliderId]="slider.sliderId"
        [value]="slider.value || 0"
        (deleteMe)="deleteSlider($event)"
        [presentationMode]="presentationMode"
        [colorMode]="slider.colorMode || 0"
        [thumbLabel]="slider.thumbLabel || false"
        [vertical]="slider.vertical || false"
        [left]="slider.left || ''"
        [right]="slider.right || ''">
      </app-slider>
    </div>
    <div *ngIf="sliderConfigurations.length == 0">
      Sie haben noch keine Slider hinzugefügt.
    </div>
  </mat-card-content>
</mat-card>

<footer style="width: 100%; text-align: center; background-color: black; color: white">
  <span>Zentrum für Medienbildung (c) Entwickelt von Jonathan Fritz.</span><br>
  <span>Dieses Projekt ist quelloffen! Sie können den Code hier einsehen: <a style="color: white" href="https://github.com/chronikum/slider_io">GitHub</a></span>
</footer>