<mat-card>
  <app-slider-selector [slidersUpdater]="slidersUpdater">

  </app-slider-selector>
</mat-card>

<mat-card class="example-result-card">
  <mat-card-content>
    <div *ngFor="let slider of sliderConfigurations">
      <mat-slider
        class="example-margin"
        [invert]="slider.invert"
        [max]="slider.max"
        [min]="slider.min"
        [step]="slider.step"
        [thumbLabel]="slider.thumbLabel"
        [tickInterval]="1"
        [value]="slider.value"
        [vertical]="slider.vertical">
    </mat-slider>
    </div>
  </mat-card-content>
</mat-card>